{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>  <title></title>
        <title>{% block title %} {% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Belgrano" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="{% static 'pinochios/scripts/scripts.js' %}"></script>
        <link rel="stylesheet" href="{% static 'pinochios/styles/style.css' %}">
    </head>
  
  <body style = "background-image: url({% static 'pinochios/images/blackboard.jpg' %});">
        <div class="body-overlay">
            <div class="body-container">
                <nav id="navbar" class="navbar  navbar-light">
                    <a class="navbar-brand" href="{% url 'index' %}">Pinochio's Pizza & Subs</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link-active" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'order' %}">Order</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'cart' %}">Cart</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                        </ul>
                    </div>
                </nav>

                {% block body %} 

                {% endblock %}

                <footer>
                    <div class="footer-about">
                        <h3>About</h3>
                        <p>Pinnochio's Pizza & Subs is has proudly been serving the local community for 50 years.
                        We sell award-winning sicilian-style pizza and mouth-watering steak subs.
                        Give our treats a try.
                        </p>
                        <div class="links">
                        <ul class="list-inline text-center">
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        </ul>
                        </div>
                    </div>
    
                    <div class="footer-info">
                        <h3>Contact</h3>
                        <div class="footer-phone">
                        <i class="fas fa-phone"></i>
                        <p>617-876-4897 or 617-876-0012</p>
                        </div>
                        <div class="footer-address">
                        <i class="fas fa-location-arrow"></i>
                        <p>Pinocchio's Pizza 74 Winthrop Street
                            Cambridge, MA 02138</p>
                        </div>
                        <div class="footer-email">
                        <i class="fas fa-envelope"></i>
                        <p>pinocchiospizza1@gmail.com</p>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </body>
</html>