{% extends 'pinochios/base.html' %}
{% load static %}
{% block body %}
        <div class="limiter">
          <div class="incoming-orders-container">
            <div class="orders-wrap">
              <div class="wrap-form-title" >
                <span class="wrap-form-title-1">
                  Orders
                </span>
              </div>
              <div class="orders-overflow">
                <div class="incoming-order">
                  <div class="order-icon pizza-order">
                    <img src="images/icons8-pizza-100.png">
                  </div>
                  <div class="incoming-order-content">
                    <div class="order-number">
                      <span>OR1</span>
                    </div>
                    <div class="order-name-price">
                      <div class="item-name">
                        <span>pizza</span>
                      </div>
                      <div class="order-item-price">
                        <span>$50</span>
                      </div>
                    </div>
                    <div class="item-quantity">
                      <span>(x2)</span>
                    </div>
                    <div class="incoming-order-buttons">
                      <div class="more-button">
                        <button class = "order-item-button">More</button>
                      </div>
                      <div class="complete-button">
                        <button class = "order-item-button">Complete</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="incoming-order">
                  <div class="order-icon sub-order">
                    <img src="images/sandwich.png">
                  </div>
                  <div class="incoming-order-content">
                    <div class="order-number">
                      <span>OR2</span>
                    </div>
                    <div class="order-name-price">
                      <div class="item-name">
                        <span>Sub</span>
                      </div>
                      <div class="order-item-price">
                        <span>$50</span>
                      </div>
                    </div>
                    <div class="item-quantity">
                      <span>(x2)</span>
                    </div>
                    <div class="incoming-order-buttons">
                      <div class="more-button">
                        <button class = "order-item-button">More</button>
                      </div>
                      <div class="complete-button">
                        <button class = "order-item-button">Complete</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="incoming-order">
                  <div class="order-icon salad-order">
                    <img src="images/salad-bowl.png">
                  </div>
                  <div class="incoming-order-content">
                    <div class="order-number">
                      <span>OR3</span>
                    </div>
                    <div class="order-name-price">
                      <div class="item-name">
                        <span>Salad</span>
                      </div>
                      <div class="order-item-price">
                        <span>$50</span>
                      </div>
                    </div>
                    <div class="item-quantity">
                      <span>(x2)</span>
                    </div>
                    <div class="incoming-order-buttons">
                      <div class="more-button">
                        <button class = "order-item-button">More</button>
                      </div>
                      <div class="complete-button">
                        <button class = "order-item-button">Complete</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="incoming-order">
                  <div class="order-icon burger-order">
                    <img src="images/burger.png">
                  </div>
                  <div class="incoming-order-content">
                    <div class="order-number">
                      <span>OR3</span>
                    </div>
                    <div class="order-name-price">
                      <div class="item-name">
                        <span>Burger</span>
                      </div>
                      <div class="order-item-price">
                        <span>$50</span>
                      </div>
                    </div>
                    <div class="item-quantity">
                      <span>(x2)</span>
                    </div>
                    <div class="incoming-order-buttons">
                      <div class="more-button">
                        <button class = "order-item-button">More</button>
                      </div>
                      <div class="complete-button">
                        <button class = "order-item-button">Complete</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="incoming-order">
                  <div class="order-icon pasta-order">
                    <img src="images/pasta.png">
                  </div>
                  <div class="incoming-order-content">
                    <div class="order-number">
                      <span>OR4</span>
                    </div>
                    <div class="order-name-price">
                      <div class="item-name">
                        <span>Pasta</span>
                      </div>
                      <div class="order-item-price">
                        <span>$50</span>
                      </div>
                    </div>
                    <div class="item-quantity">
                      <span>(x2)</span>
                    </div>
                    <div class="incoming-order-buttons">
                      <div class="more-button">
                        <button class = "order-item-button">More</button>
                      </div>
                      <div class="complete-button">
                        <button class = "order-item-button">Complete</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="incoming-order">
                  <div class="order-icon platter-order">
                    <img src="images/platter.png">
                  </div>
                  <div class="incoming-order-content">
                    <div class="order-number">
                      <span>OR5</span>
                    </div>
                    <div class="order-name-price">
                      <div class="item-name">
                        <span>Dinner platter</span>
                      </div>
                      <div class="order-item-price">
                        <span>$500</span>
                      </div>
                    </div>
                    <div class="item-quantity">
                      <span>(x2)</span>
                    </div>
                    <div class="incoming-order-buttons">
                      <div class="more-button">
                        <button class = "order-item-button">More</button>
                      </div>
                      <div class="complete-button">
                        <button class = "order-item-button">Complete</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container" id = "popup-container" >
          <div class="row">
            <a class="btn btn-primary" data-toggle="modal" href="#order-modal" id = "modal-toggle-button">open Popup</a>
            <div class="modal fade" id= "order-modal" role="dialog">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content" id = "modal-content">
                  <div class="modal-header">
                    <h3>Order: <span>OR1</span></h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label=""><span>×</span></button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-order-item">
                      <p>Item: <span>pizza</span></p>
                    </div>
                    <div class="modal-pizza-type">
                      <p>Pizza type: <span>Regular</span></p>
                    </div>
                    <div class="modal-menu-selection">
                      <p>Menu selection: <span>Garden Salad</span> </p>
                    </div>
                    <div class="modal-order-size">
                      <p>Size: <span>Small</span> </p>
                    </div>
                    <div class="modal-pizza-toppings">
                      <span>Toppings:</span>
                      <div class="">
                        <ul>
                          <li>Pepperoni</li>
                          <li>Mushrooms</li>
                          <li>Pineapple</li>
                        </ul>
                      </div>
                    </div>
                    <div class="modal-order-quantity">
                      <p>Quantity: <span>2</span></p>
                    </div>
                    <div class="modal-order-total">
                      <p>Total: $<span>50</span></p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>      
{% endblock %}